
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: transparent;
  position: fixed;
  top: 0;
  width: 96%;
  z-index: 1000;
  padding-top: 20px;
  padding-bottom: 20px;
  
}



.navbar-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding-top: 20px;
}

.navbar-links li {
  margin-left: 20px;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 10px;
}
.navbar-links a:hover {
  border-bottom: 2px solid #fff; /* White straight line */
}

/* Add responsiveness */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 10px;
  }

  .navbar-links {
    flex-direction: column;
    margin-top: 10px;
  }

  .navbar-links li {
    margin: 5px 0;
  }
}
